@font-face {
  font-family: "FreightBigProBlack";
  font-display: swap;
  src: url("../fonts/FreightBigProBlack-Italic.woff") format("woff") url("../fonts/FreightBigProBlack-Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "FreightBigProBlack";
  font-display: swap;
  src: url("../fonts/FreightBigProBlack-Regular.woff") format("woff") url("../fonts/FreightBigProBlack-Regular.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FreightBigProBook";
  font-display: swap;
  src: url("../fonts/FreightBigProBook-Regular.woff") format("woff") url("../fonts/FreightBigProBook-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FreightBigProBold";
  font-display: swap;
  src: url("../fonts/FreightBigProBold-Regular.woff") format("woff") url("../fonts/FreightBigProBold-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FreightBigProBook";
  font-display: swap;
  src: url("../fonts/FreightBigProBook-Italic.woff") format("woff") url("../fonts/FreightBigProBook-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FreightBigProLight";
  font-display: swap;
  src: url("../fonts/FreightBigProLight-Regular.woff") format("woff") url("../fonts/FreightBigProLight-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FreightBigProBold";
  font-display: swap;
  src: url("../fonts/FreightBigProBold-Italic.woff") format("woff") url("../fonts/FreightBigProBold-Italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FreightBigProMedium";
  font-display: swap;
  src: url("../fonts/FreightBigProMedium-Italic.woff") format("woff") url("../fonts/FreightBigProMedium-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FreightBigProSemibold";
  font-display: swap;
  src: url("../fonts/FreightBigProSemibold-Italic.woff") format("woff") url("../fonts/FreightBigProSemibold-Italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "FreightBigProMedium";
  font-display: swap;
  src: url("../fonts/FreightBigProMedium-Regular.woff") format("woff") url("../fonts/FreightBigProMedium-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FreightBigProSemibold";
  font-display: swap;
  src: url("../fonts/FreightBigProSemibold-Regular.woff") format("woff") url("../fonts/FreightBigProSemibold-Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FreightBigProLight";
  font-display: swap;
  src: url("../fonts/FreightBigProLight-Italic.woff") format("woff") url("../fonts/FreightBigProLight-Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff") url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "FreightBigProBook", serif;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
  color: #ffffff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FreightBigProBook";
  font-weight: normal;
  font-style: normal;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header_container {
  width: 100%;
  padding: 27px 43px;
}

.header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  height: 43px;
  color: #ffffff;
  cursor: pointer;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
}

nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(80% - 100px);
          flex: 0 0 calc(80% - 100px);
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_item a {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  -o-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.menu_item a:before {
  content: "";
  position: absolute;
  right: 0;
  top: -7px;
  width: 0;
  height: 2px;
  background-color: #f1e8c3;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  -o-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  visibility: hidden;
  opacity: 0;
}

.menu_item a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 2px;
  background-color: #f1e8c3;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  -o-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  visibility: hidden;
  opacity: 0;
}

.menu_item a:hover {
  color: #f1e8c3;
}

.menu_item:hover a:before {
  visibility: visible;
  opacity: 1;
  right: 0;
  width: 100%;
}

.menu_item:hover a:after {
  visibility: visible;
  opacity: 1;
  left: 0;
  width: 100%;
}

.header_icons_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search_icon {
  background-image: url("../img/magnifying glass.png");
  width: 18px;
  height: 18px;
}

.web_icon {
  background-image: url("../img/web.png");
  width: 20px;
  height: 20px;
}

.language {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 2px solid #ffffff;
}

.swiper-slide {
  position: relative;
}

.slider_header {
  position: absolute;
  bottom: calc(100px + 190 * (100vw - 320px) / 1600);
  left: calc(100px + 218 * (100vw - 320px) / 1600);
  font-size: calc(20px + 60 * (100vw - 320px) / 1600);
  line-height: calc(30px + 60 * (100vw - 320px) / 1600);
  color: #ffffff;
  letter-spacing: 10px;
  max-width: 438px;
}

.slide {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.slide1 {
  background-image: url("../img/hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 46.875%;
}

.slide2 {
  background-image: url("../img/hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 46.875%;
}

.slide3 {
  background-image: url("../img/hero3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 46.875%;
}

.swiper-button-prev {
  font-family: serif;
  background: url(../img/angle-left-solid.svg) center/cover no-repeat;
  width: 20px;
  height: 25.84px;
}

.swiper-button-prev:after {
  content: "";
  width: 20px;
  height: 25.84px;
}

.swiper-button-next {
  font-family: serif;
  background: url(../img/angle-right-solid.svg) center/cover no-repeat;
  width: 20px;
  height: 25.84px;
}

.swiper-button-next:after {
  content: "";
  width: 20px;
  height: 25.84px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 50px;
}

.swiper-pagination-bullet {
  background-color: #dfdbdb;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.innovations wrapper {
  padding: 0 5px;
  width: 100%;
}

.innovations_container {
  margin: 0 auto;
  width: 70%;
  padding-top: calc(20px + 47 * (100vw - 320px) / 1600);
  padding-bottom: calc(30px + 67 * (100vw - 320px) / 1600);
}

.innovations_container h2 {
  font-size: calc(22px + 68 * (100vw - 320px) / 1600);
  line-height: calc(30px + 83 * (100vw - 320px) / 1600);
  color: #CA9561;
  padding-bottom: 10px;
}

.innovations_container h3 {
  font-family: "FreightBigProLight";
  font-weight: 300;
  font-style: italic;
  font-size: calc(18px + 42 * (100vw - 320px) / 1600);
  line-height: calc(25px + 51 * (100vw - 320px) / 1600);
  letter-spacing: -2px;
  color: #595B60;
  padding-bottom: 27px;
}

.innovations_container p {
  font-family: "FreightBigProLight";
  font-weight: 200;
  font-style: normal;
  font-size: calc(14px + 16 * (100vw - 320px) / 1600);
  line-height: calc(20px + 17 * (100vw - 320px) / 1600);
  letter-spacing: -1px;
  color: #595B60;
}

.seasons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 900px;
}

.nature1 {
  background: url("../img/nature1.jpg") center/cover no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 325px;
          flex: 0 1 325px;
}

.nature2 {
  background: url("../img/nature2.jpg") center/cover no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 325px;
          flex: 0 1 325px;
}

.nature3 {
  background: url("../img/nature3.jpg") center/cover no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 325px;
          flex: 0 1 325px;
}

.nature4 {
  position: relative;
  background: url("../img/nature4.jpg") center/cover no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 956px;
          flex: 0 1 956px;
}

.nature4 h2 {
  position: absolute;
  top: 35%;
  left: 15%;
  max-width: 574px;
  font-size: calc(20px + 60 * (100vw - 320px) / 1600);
  line-height: calc(28px + 62 * (100vw - 320px) / 1600);
}

.new_design .wrapper {
  width: 100%;
  height: 100%;
}

.new_design_container {
  margin-left: 10%;
  margin-right: 0;
  width: 90%;
  height: auto;
  padding-top: calc(30px + 115 * (100vw - 320px) / 1600);
  padding-bottom: calc(30px + 140 * (100vw - 320px) / 1600);
}

.new_design_container h2 {
  font-size: calc(24px + 149 * (100vw - 320px) / 1600);
  line-height: calc(32px + 183 * (100vw - 320px) / 1600);
  color: #093B9F;
  padding-left: calc(20px + 57 * (100vw - 320px) / 1600);
}

.new_design_container h3 {
  font-size: calc(24px + 149 * (100vw - 320px) / 1600);
  line-height: calc(32px + 183 * (100vw - 320px) / 1600);
  background-color: #093B9F;
  padding-left: calc(20px + 57 * (100vw - 320px) / 1600);
}

.model .swiper-slide {
  position: static;
}

.model h2 {
  color: black;
}

.model .swiper-button-prev {
  background: url(../img/arrow_left.png) center/cover no-repeat;
  width: 17px;
  height: 30px;
  left: 50px;
}

.model .swiper-button-prev:after {
  content: "";
  width: 17px;
  height: 30px;
}

.model .swiper-button-next {
  background: url(../img/arrow_right.png) center/cover no-repeat;
  width: 17px;
  height: 30px;
  right: 50px;
}

.model .swiper-button-next:after {
  content: "";
  width: 17px;
  height: 30px;
}

.model1 {
  background-image: url("../img/image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 46.875%;
}

.model2 {
  background-image: url("../img/image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 46.875%;
}

.model3 {
  background-image: url("../img/image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 46.875%;
}

.caracat_details {
  background-color: #093B9F;
  width: 100%;
}

.caracat_details_container {
  max-width: 1031px;
  width: 70%;
  margin: 0 auto;
  padding-top: calc(40px + 216 * (100vw - 320px) / 1600);
  padding-bottom: calc(45px + 215 * (100vw - 320px) / 1600);
}

.caracat_details_container h2 {
  font-size: calc(20px + 70 * (100vw - 320px) / 1600);
  line-height: calc(28px + 85 * (100vw - 320px) / 1600);
}

.caracat_details_container p {
  font-family: "FreightBigProLight";
  font-weight: 200;
  font-style: normal;
  font-size: calc(14px + 16 * (100vw - 320px) / 1600);
  line-height: calc(20px + 17 * (100vw - 320px) / 1600);
  letter-spacing: -1px;
}

.comf_container {
  position: relative;
  background-image: url("../img/comfy_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 46.875%;
}

.comf_text {
  position: absolute;
  top: 30%;
  left: 45%;
  max-width: 680px;
  width: 100%;
}

.comf_text h2 {
  height: auto;
  font-size: calc(22px + 68 * (100vw - 320px) / 1600);
  line-height: calc(30px + 83 * (100vw - 320px) / 1600);
}

.comf_text h3 {
  font-family: "FreightBigProLight";
  font-weight: 300;
  font-style: italic;
  font-size: calc(18px + 27 * (100vw - 320px) / 1600);
  line-height: calc(25px + 32 * (100vw - 320px) / 1600);
  letter-spacing: -2px;
  padding-bottom: 13px;
}

.comf_text p {
  font-family: "FreightBigProLight";
  font-weight: 200;
  font-style: normal;
  font-size: calc(14px + 21 * (100vw - 320px) / 1600);
  line-height: calc(20px + 24 * (100vw - 320px) / 1600);
  letter-spacing: -1px;
}

.interior_container {
  width: 82.7%;
  margin: 0 auto;
  padding-top: calc(25px + 42 * (100vw - 320px) / 1600);
  padding-bottom: calc(35px + 84 * (100vw - 320px) / 1600);
}

.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interior_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 788.61px;
          flex: 0 1 788.61px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 10px;
}

.interior_item:not(:nth-child(even)) {
  margin-right: 10px;
}